<div class = 'message container'>
  <%= form_tag "/message/create", method: "post" do%>
    <input type = "hidden" value = '<%= form_authenticity_token%>' name ='authenticity_token'></input>
    <input type = "text" name = "message[content]" placeholder="쪽지 내용 입력"></input>
    <input type = "hidden" name = "message[user_id]" value = <%= current_user.id %>></input>
    <input type = "hidden" name = "message[reciever_id]" value = "<%= @reciever_id %>"></input>
    <input type = "submit" style = "margin-left: 5px;"></input>
  <% end %>
</div>

