/*동아리 생성*/
.club_write{
    font-family: Hanna;
    text-align: center;
}

.club_write h1{
    margin-top: 40px;
}

.club_write input{
    width: 60%;
    margin-bottom: 5px;
}

.club_write h6{
    position: relative;
    text-align: left;
    right: -20%;
}

.club_write .inform{
    height: 100px;
}

.club_write select{
    width: 60%;
    height: 25px;
    margin-bottom: 5px;
}

/*동아리 수정*/
.club_edit{
    font-family: Hanna;
    text-align: center;
}

.club_edit h1{
    margin-top: 40px;
}

.club_edit input{
    width: 60%;
    margin-bottom: 10px;
}

.club_edit textarea{
    width: 60%;
    margin-bottom: 5px;
}

.club_edit h6{
    position: relative;
    text-align: left;
    right: -20%;
    padding: 0;
    margin-bottom: 4px;
}

.club_edit .inform{
    height: 100px;
}

.club_edit select{
    width: 60%;
    height: 25px;
    margin-bottom: 5px;
}

