<p>안녕하세요 만나나입니다. <%= @resource.email %>!</p>

<p>비밀번호 변경이 요청되었습니다. 아래링크를 눌러 비밀번호를 변경해주세요.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>요청하지 않으셨을 경우, 이 메시지를 무시하셔도 됩니다.</p>
<p>링크를 통해 새로운 비밀번호를 설정하지 않는 이상, 비밀번호는 바뀌지 않습니다.</p>
